<h2>
<nav>
    <%= link_to '<i class="fa fa-refresh"></i>'.html_safe, admin_weezevents_path, method: :post, data: { confirm: "Recharger tous les WeezEvents peut être un peu long.\nÊtes vous sur ?" }, title: 'Forcer la mise à jour de tous les WeezEvents' %>
  </nav>
  Liste des WeezEvents
</h2>


<%= render 'list', weez_events: @weez_events %>

<br>