//= Mixins

=colored_page_to($color: $lhl-yellow)
    .socials > a
        background-image: svg_to_data('bg_social', $color)
    > menu
        background-image: svg_to_data('bg_menu', $color)
        > a#burger_menu
            background-image: svg_to_data('bg_social', $color)
    > article
        > h2
            background-color: white
            color: $color
            padding-bottom: 10px
        > aside
            ul.infos
                background-image: svg_to_data('bg_social_block_h', $color)
                color: white

=colored_desk_page_to($color: $lhl-yellow)
    > menu
        background-image: svg_to_data('bg_menu_desk', $color)
        > div#opening
            background-image: svg_to_data('opening', $color)
    > article
        > aside
            ul.infos
                background-image: svg_to_data('bg_social_block_v', $color)

//= Page

body.page

    &.family
        +colored_page_to($lhl-green)

    &.show
        +colored_page_to($lhl-purple)

    &.animations
        +colored_page_to($lhl-orange)

    &.concert
        +colored_page_to($lhl-blue)

    &.other
        +colored_page_to($lhl-pink)


        
//= DESKTOP

@media (min-width: $screen-sm-min)
    body.page

        &.family
            +colored_desk_page_to($lhl-green)

        &.show
            +colored_desk_page_to($lhl-purple)

        &.animations
            +colored_desk_page_to($lhl-orange)

        &.concert
            +colored_desk_page_to($lhl-blue)

        &.other
            +colored_desk_page_to($lhl-pink)

