//= Mixins

=colored_page_to($color: $lhl-yellow)
    .carousel-indicators .active
        background-color: $color
    .carousel-indicators li
        border-color: $color
    .socials > a
        background-image: svg_to_data('bg_social', $color)
    > menu
        background-image: svg_to_data('bg_menu', $color)
        > a#burger_menu
            background-image: svg_to_data('bg_social', $color)
    > article
        > h2
            background-color: white
            color: $color
            padding-bottom: 10px
        > aside
            ul.infos
                background-image: svg_to_data('bg_social_block_h', $color)
                color: white

        > section
            &#artists
                background-color: $color
                color: white

                div.artist
                    &.artist-0 .mask
                        background-image: svg_to_data('artist_mask_0', $color)
                    &.artist-1 .mask
                        background-image: svg_to_data('artist_mask_1', $color)
                    &.artist-2 .mask
                        background-image: svg_to_data('artist_mask_2', $color)
                    &.artist-3 .mask
                        background-image: svg_to_data('artist_mask_3', $color)

                .artist_card
                    background-color: $color

                    button.close
                        color: $color

            &#reservation
                iframe
                    border-color: $color

=colored_desk_page_to($color: $lhl-yellow)
    > menu
        background-image: svg_to_data('bg_menu_desk', $color)
        > div#opening
            background-image: svg_to_data('opening', $color)
    > article
        > aside
            ul.infos
                background-image: svg_to_data('bg_social_block_v', $color)

//= Page

body.page

    &.family,
    &.take_care
        +colored_page_to($lhl-green)

    &.show,
    &.connect
        +colored_page_to($lhl-purple)

    &.animations,
    &.creative
        +colored_page_to($lhl-orange)

    &.concert,
    &.diy
        +colored_page_to($lhl-blue)

    &.other,
    &.brain
        +colored_page_to($lhl-pink)


        
//= DESKTOP

@media (min-width: $screen-sm-min)
    body.page

        &.family,
        &.take_care
            +colored_desk_page_to($lhl-green)

        &.show,
        &.connect
            +colored_desk_page_to($lhl-purple)

        &.animations,
        &.creative
            +colored_desk_page_to($lhl-orange)

        &.concert,
        &.diy
            +colored_desk_page_to($lhl-blue)

        &.other,
        &.brain
            +colored_desk_page_to($lhl-pink)

