body.events
    > section
        background-color: white
        background-image: image_url('bg_gray_spotted.png')
        background-position: top center
        padding-top: 100px
        text-align: center

        .container
            max-width: 940px

        > .header

            .all-active > button,
            button.active
                padding-bottom: 5px
                border-bottom: 4px solid
            
            button
                border: 0
                padding: 0 0 9px
                margin: 0 10px 10px
                background-color: transparent
                font-size: 20px
                outline: none

                &:focus,
                &:active
                    outline: none

                &.family,
                &.take_care
                    border-color: $lhl-green
                &.concert,
                &.diy
                    border-color: $lhl-blue
                &.animations,
                &.creative
                    border-color: $lhl-orange
                &.show,
                &.connect
                    border-color: $lhl-purple
                    display: inline-block !important
                &.other,
                &.brain
                    border-color: $lhl-pink

            > .focus
                position: relative
                width: 280px
                margin: 0 auto

                > button
                    margin: 0
                    padding: 0
                    border: 0


                    &.active + p
                        opacity: 1
                
                > p
                    color: white
                    width: 280px
                    background-image: image_url('bg_event_focus_filter.svg')
                    padding: 10px 20px
                    background-size: cover
                    background-position: bottom center
                    opacity: 0
                    line-height: 1
                    max-height: calc(3em + 25px)

                    > a
                        padding-top: 5px
                        display: block

            > .months
                #month_selector
                    color: white
                    display: inline-block
                    width: 150px
                    height: 50px
                    position: relative
                    font-size: 20px
                    background-image: image_url('bg_black_hexa.svg')
                    background-size: 100% 100%
                    margin: 10px 0 20px

                    > button
                        position: absolute
                        top: 0
                        height: 100%
                        width: 50%
                        padding: 13px 10px
                        margin: 0
                        z-index: 1
                    
                        &.previous
                            text-align: left
                            left: 0
                    
                        &.next
                            text-align: right
                            right: 0

                        &[disabled]
                            opacity: .5

                    > .display
                        padding: 12px
                        display: inline-block
                        width: 100%
                        height: 100%
                        opacity: .5

                    &.active > .display
                        opacity: 1

        > .events
            a.event_card
                margin-bottom: $margin-base

            p.no-event-message
                font-size: 20px
                height: 370px
                padding-top: 50px

                > span
                    background-image: image_url('bg_social.svg')
                    background-size: 100% 100%
                    background-repeat: no-repeat
                    display: inline-block
                    width: 300px
                    min-height: 220px
                    padding: 60px 40px


a.event_card
    display: block
    height: 370px
    position: relative
    color: white
    text-align: center!important
    overflow: hidden

    &.trailer
        height: 140px

        > div.content
            > div
                > h3
                    min-height: auto
                    line-height: 0.9
                    margin: 5px 0!important
                > p
                    margin-bottom: 0

    > div
        position: absolute
        width: 100%
        height: 100%

        &.image
            background-size: cover
            background-position: center
            background-color: $lhl-gray
            +grayscale

        &.content

            > span.focus
                position: absolute
                top: 10px
                right: 10px

            > div
                position: absolute
                padding: 10px
                width: 100%
                bottom: 20px
                left: 0

                > span
                    font-weight: $bold

                > h3
                    text-transform: uppercase
                    min-height: 2em
                    font-weight: 700!important
                    margin: 10px 0!important

                > p
                    > strong
                        display: block
                        font-weight: normal
                        font-size: 20px
                        min-height: 1em

            &::after
                position: absolute
                width: 100%
                bottom: 0
                left: 0
                height: 23px
                display: block
                background-image: image_url("more.svg")
                background-repeat: no-repeat
                background-position: top center
                content: " "

    &.family,
    &.take_care
        > div.content
            +vertical_gradient_to($lhl-green)

    &.show,
    &.connect
        > div.content
            +vertical_gradient_to($lhl-purple)

    &.animations,
    &.creative
        > div.content
            +vertical_gradient_to($lhl-orange)

    &.concert,
    &.diy
        > div.content
            +vertical_gradient_to($lhl-blue)

    &.other,
    &.brain
        > div.content
            +vertical_gradient_to($lhl-pink)

        
    

//= DESKTOP

@media (min-width: $screen-sm-min)
    body.events
        &.workshop
            > section
                > .header
                    top: 80px

        > section
            padding-top: 350px

            > .header
                position: absolute
                top: 125px
                left: 50%
                transform: translateX(-50%)
                z-index: 22
                width: 940px
                max-width: calc(100% - 360px)

    a.event_card
        &.trailer

            > div.content
                > div
                    > h3
                        // font-weight: normal!important
                        font-size: 20px

                    > p
                        > strong
                            font-size: 14px