button.close
    font-size: 20px
    background-image: image_url('bg_white_button.svg')
    width: 32px
    height: 30px
    background-repeat: no-repeat
    background-size: contain
    text-align: center
    line-height: 30px
    
.modal
    button.close
        color: $lhl-black
        margin: 7px 10px

    .modal-header,
    .modal-body,
    .modal-footer
        padding: 0
        color: white

    .modal-content
        border-radius: 0

    &.padded
        .modal-header
            h2,
            h3,
            h4
                padding: $margin-base

        .modal-body
            padding: 0 $margin-base $margin-base



