.modal
    button.close
        color: $lhl-black
        font-size: 20px
        margin: 7px 10px
        background-image: image_url('bg_white_button.svg')
        width: 32px
        height: 30px
        background-repeat: no-repeat
        background-size: contain
        text-align: center
        line-height: 30px

    .modal-header,
    .modal-body,
    .modal-footer
        padding: 0
        color: white

    .modal-content
        border-radius: 0


