body.page
    > header
        > div.resource,
        > div.carousel
            height: 445px
            width: 100%
            background-color: $lhl-gray
            overflow: hidden!important

    > article
        background-color: white

        > h2
            background-color: $lhl-yellow

            > div.container
                > div
                    font-size: 0

                    span
                        font-size: $font-size-base
                        text-transform: lowercase
                        font-weight: $bold

                    a.focus
                        display: inline-block
                        width: 32px
                        height: 30px
                        background-image: image_url("focus.svg")
                        margin-right: 10px
                        vertical-align: middle
                        text-indent: -9999px
                        margin-top: -10px

        > aside
            background-image: image_url('bg_black_spotted.png')
            padding: $margin-base 0

            .exergue_edited
                margin: - $margin-base 0 $margin-base

            nav
                text-align: center
                padding: $margin-base - 10px
                margin-top: - $margin-base
                
                > a
                    text-align: center
                    display: block
                    width: 240px
                    height: 70px
                    margin: 10px auto
                    text-transform: uppercase
                    text-decoration: none
                    font-weight: $bold
                    background-size: 100% 100%
                    background-repeat: no-repeat
                    line-height: 20px
                    padding: 25px $padding-base
                    
                    &:hover
                        text-decoration: none

                    &:nth-child(odd)
                        background-image: image_url('bg_aside_odd_link.svg')

                    &:nth-child(even)
                        background-image: image_url('bg_aside_even_link.svg')
                        margin-bottom: 20px

            ul.infos
                margin: 0
                list-style: none
                background-image: image_url('bg_social_block_h.svg')
                background-size: 100% 100%
                width: 240px
                margin: 0 auto
                padding: $margin-base * 1.5 $margin-base / 2
                +clearfix

                > li
                    min-height: 30px
                    line-height: 16px
                    padding: 5px 0
                    margin: 10px

                    > a
                        display: block
                        text-align: center
                        
                        &::before
                            +fa
                            font-size: 30px
                            display: inline-block
                            width: 30px
                            height: 30px
                            text-align: center
                            line-height: 30px
                            vertical-align: sub
                            margin-right: 5px

                        &.fbk::before
                            content: "\f09a"

                        &.twt::before
                            content: "\f099"

                        &.evt::before
                            content: "\f073"

                        &.inf::before
                            content: "\f129"
                            border: 1px solid
                            border-radius: 50%
                            font-size: 20px

        > section
            &:not(.content)
                h3
                    font-weight: normal
                    margin: $margin-base 0

            &.gray
                padding: 5px 0

            &.yellow
                padding: $margin-base 0

            &.more
                margin-top: $margin-base

            &#artists
                background-color: $lhl-yellow
                overflow: hidden
                // color: white

                .artist
                    padding-bottom: $margin-base

                    button
                        background-color: transparent
                        border: none
                        color: inherit
                        text-decoration: underline

                    &.artist-0 .dark-mask
                        background-image: svg_to_data('artist_mask_0', $lhl-black)
                    &.artist-1 .dark-mask
                        background-image: svg_to_data('artist_mask_1', $lhl-black)
                    &.artist-2 .dark-mask
                        background-image: svg_to_data('artist_mask_2', $lhl-black)
                    &.artist-3 .dark-mask
                        background-image: svg_to_data('artist_mask_3', $lhl-black)

                    div.image
                        height: 0
                        padding-bottom: 95%
                        position: relative
                        
                        > div
                            position: absolute
                            width: 100%
                            height: 100%

                            &.mask,
                            &.dark-mask
                                background-size: 100%
                                z-index: 1

                                &+div
                                    background-size: cover

                .artist_card
                    display: none

                .description
                    margin-bottom: $margin-base
                    
                    > *:last-child
                        margin-bottom: 0

                .media_links
                    margin-bottom: $margin-base

            &#reservation
                background-color: $lhl-darkgray
                color: white
                font-size: 0
                padding-bottom: $margin-base

                iframe
                    height: 660px
                    background-color: white
                    border-top: 5px solid

//= DESKTOP

@media (min-width: $screen-sm-min)
    body.page

        h2 > .container,
        section > .container
            width: calc(50% + #{$container-max-width / 2 - $aside-min-width})
            margin-left: calc(50% - #{$container-max-width / 2})

        > header
            > div.resource,
            > div.carousel
                height: 520px

        > article
            position: relative

            > h2

            > aside
                position: absolute
                top: 0
                right: 0
                width: calc(50% - #{$container-max-width / 2})
                min-width: $aside-min-width
                height: 100%
                z-index: 3

                nav
                    > a
                        margin-left: $margin-base - 10px
                        width: $aside-min-width - 2 * $margin-base

                ul.infos
                    width: 200px
                    background-image: image_url('bg_social_block_v.svg')
                    padding: $margin-base $margin-base / 2
                    margin: 0 $margin-base

            > section
                &#artists

                    > .container
                        position: relative

                    .single_artist_card
                        .col-sm-8
                            > div
                                padding-left: $margin-base - $grid-gutter-width

                    .artist_card
                        display: block
                        padding: 0 $margin-base
                        position: absolute
                        top: 0
                        right: -100%
                        width: 100%
                        height: 100%
                        z-index: 2
                        margin-right: - $margin-base
                        box-shadow: $box-shadow-base
                        +transition(right 500ms ease, margin-right 500ms ease)

                        .col-sm-8
                            position: relative
                            height: 0
                            padding-top: 30%
                            padding-bottom: 52px

                            > div
                                position: absolute
                                left: 0
                                top: 0
                                padding-left: $margin-base - $grid-gutter-width / 2
                                padding-right: $grid-gutter-width / 2
                                width: 100%
                                height: 100%

                                > div.description
                                    max-height: calc(100% - 52px)
                                    overflow: auto

                        button.close
                            margin-top: $margin-base

                        &.open
                            right: 0
                            margin-right: 0

