//== Typography

$font-family-sans-serif: 'Work Sans', sans-serif
$line-height-base: 1.3
$headings-font-family: $font-family-sans-serif
$bold: 600
$extra-bold: 700
$headings-font-weight: $bold
$headings-line-height: 1.1
$text-color: $lhl-black

$box-shadow-base: 0 0 7px rgba(0,0,0,0.5)

$font-size-base: 14px
$font-size-huge: 200%
$font-size-h2: 32px
$font-size-h2-desk: 48px
$font-size-h2-small: 20px
$font-size-h2-small-desk: 32px
$font-size-h3: 32px

//== Link

$link-hover-color: inherit
$link-color: inherit
$link-hover-decoration: none

//== Modal

$modal-content-bg: $lhl-black
$modal-content-border-color: $lhl-black
$modal-header-border-color: $modal-content-border-color

//== Carousel

$carousel-indicator-border-color: $lhl-yellow
$carousel-indicator-active-bg: $lhl-yellow


//== Marges & padding

$grid-gutter-width: 10px
$margin-base: 20px
$padding-base: 10px
$padding-base-vertical: 5px
$padding-base-vh: $margin-base
$padding-base-horizontal: 10px
$big-margin-base: 50px

$border-radius-base: 0

// page & article

$container-max-width: 700px
$aside-min-width: 240px
