<aside>Site en construction</aside>
<section id="page">
    <h1>Le Hasard Ludique</h1>
    <article>
        <h2>Le Hasard Ludique ouvre ses portes pendant 4 weekends du 29 avril au 21 mai 2017&nbsp;!</h2>
        <h3>CONCERTS +&nbsp;DJ SETS +&nbsp;PERFORMANCES +&nbsp;WORKSHOPS +&nbsp;BRUNCH +&nbsp;SURPRISES</h3>
        <div class="event">
            <h4>Weekend #1 – 29/30 avril</h4>
            <p>Vaudou Game, Francky Goes to Pointe-à-Pitre, …</p>
            <nav>
                <a class="btn btn-default" href="#">Billetterie</a>
                <a class="btn btn-default" href="#">Participer</a>
            </nav>
        </div>
        <div class="event">
            <h4>Weekend #2 – 06/07 mai</h4>
            <p>Cléa Vincent, Corinne, Jean Tonique, …</p>
            <nav>
                <a class="btn btn-default" href="#">Billetterie</a>
                <a class="btn btn-default" href="#">Participer</a>
            </nav>
        </div>
        <div class="event">
            <h4>Weekend #3  - 13/14 mai</h4>
            <p>Mo Laudi, Pomrad, Freez, …</p>
            <nav>
                <a class="btn btn-default" href="#">Billetterie</a>
                <a class="btn btn-default" href="#">Participer</a>
            </nav>
        </div>
        <div class="event">
            <h4>Weekend #4 – 20/21 mai</h4>
            <p>Elbi, Mawimbi, Dj Les Yeux Oranges, …</p>
            <nav>
                <a class="btn btn-default" href="#">Billetterie</a>
                <a class="btn btn-default" href="#">Participer</a>
            </nav>
        </div>
    </article>
    <footer>
        <p>Le Hasard Ludique proposera sa vision d’un lieu culturel hybride où cohabiteront une salle de spectacles riche d’une programmation plurielle, un atelier de pratique artistique collective et un bistrot gourmand.</p>
        <nav class="socials">
            <a class="fb" href="https://www.facebook.com/LeHasardLudique/" target="_blank"></a>
            <a class="ig" href="https://www.instagram.com/lehasardludique/" target="_blank"></a>
            <a class="tw" href="https://twitter.com/Lehasardludique" target="_blank"></a>
            <a class="nl" href="http://facebook.us6.list-manage1.com/subscribe?u=b3a692d96340f437820c48197&id=f48e82baf0" target="_blank"></a>
        </nav>
        <span><a href="">coucou@lehasardludique.fr</a></span>
        <span>Tél.&nbsp;: <a href="tel://+33983906755">09 83 90 67 55</a></span>
    </footer>
</section>