<h2>
  <nav>
    <%= link_to '<i class="fa fa-plus-circle"></i>'.html_safe, new_admin_resource_path, title: 'Ajouter un nouveau fichier' %>
  </nav>
  Liste des fichiers/images
</h2>

<table id="async_ressources" data-async="<%= api_resources_path %>" class="" data-order='[[3  , "desc"]]'>
  <thead>
    <tr>
      <th>ID</th>
      <th data-searchable="false" data-orderable="false">Aperu</th>
      <th>Nom/Légende</th>
      <th>Fichier</th>
      <th data-orderable="false">Url</th>
      <th data-searchable="false">Date d'ajout</th>
      <th>Catégorie</th>
      <th>Notes</th>
      <th data-searchable="false" data-orderable="false">Utilisateur</th>
      <th data-searchable="false" data-orderable="false"></th>
    </tr>
  </thead>
</table>

<br>