=fa
    font: normal normal normal 14px/1 FontAwesome
    font-size: inherit
    text-rendering: auto
    -moz-osx-font-smoothing: grayscale

=spin
    -webkit-animation: fa-spin 2s infinite linear
    animation: fa-spin 2s infinite linear

=bg_pattern
    background-image: image_url("bg_pattern.svg")
    background-repeat: repeat
    background-position: center