<footer>
    <div class="container-fluid">
        <div class="socials">
            <a href="http//lafabrique.lehasardludique.paris/" class="la_fabrique" target="_blank">La Fabrique</i></a>
            <a href="https://www.facebook.com/LeHasardLudique/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://twitter.com/Lehasardludique" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/lehasardludique/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/channel/UCnW3HKJMXr0nLAukcwl2QyA" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href="http://facebook.us6.list-manage1.com/subscribe?u=b3a692d96340f437820c48197&id=f48e82baf0" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-push-8 here">
                <div>
                    <h5>C'est ici</h5>
                    128 av. de St Ouen<br />
                    Paris 18e<br />
                    Ⓜ Metro 13<br />
                    Porte de St Ouen
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-pull-4 link-1">
                <%= render 'layouts/active_links', links: @footer_1_links %>
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-pull-4 link-2">
                <%= render 'layouts/active_links', links: @footer_2_links %>
            </div>
        </div>
    </div>
</footer>