<menu>
    <h1>Le Hasard Ludique</h1>
    <nav class="socials">
        <a href="https://www.facebook.com/LeHasardLudique/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://twitter.com/Lehasardludique" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/lehasardludique/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/channel/UCnW3HKJMXr0nLAukcwl2QyA" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        <a href="http://facebook.us6.list-manage1.com/subscribe?u=b3a692d96340f437820c48197&id=f48e82baf0" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="//lafabrique.lehasardludique.paris" class="la_fabrique" target="_blank">La Fabrique</i></a>
    </nav>
    <a id="burger_menu" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
    <div id="opening">
        Ouverture<br />
        J - 50
    </div>
    <nav id="burger">
        <a href="#" class="active">Programation</a>
        <a href="#">Billeterie</a>
        <a href="#">Activité</a>
        <a href="#">Le Bistrot</a>
        <a href="#">Le Lieu</a>
        <a href="#">Le Projet</a>
        <a href="#">Info Pratiques</a>
        <div class="socials">
            <a href="//lafabrique.lehasardludique.paris" class="la_fabrique" target="_blank">La Fabrique</i></a>
            <a href="https://www.facebook.com/LeHasardLudique/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://twitter.com/Lehasardludique" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/lehasardludique/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/channel/UCnW3HKJMXr0nLAukcwl2QyA" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href="http://facebook.us6.list-manage1.com/subscribe?u=b3a692d96340f437820c48197&id=f48e82baf0" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
    </nav>
</menu>